.menuItem-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.menuItem-article__vegNonVeg {
  padding: 5px;
}

.menuItem-article__nonVeg__border {
  display: grid;
  place-content: center;
  border: 1px solid red;
}
.menuItem-article__veg__border {
  display: grid;
  place-content: center;
  border: 1px solid green;
}

.menuItem-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.menuItem-details__name {
  font-size: medium;
  font-weight: 600;
}
.menuItem-details__sarValue {
  font-size: small;
  font-weight: 500;
}
.menuItem-details__description {
  font-size: small;
  font-weight: 400;
  color: rgb(77, 77, 77);
}

.menuItem-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 18px;
  color: white;
  background-color: green;
  text-align: center;
}
.menuItem-btns__addRemove {
  width: 35%;
  font-size: 25px;
  border-radius: 17px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.menuItem-customize__para {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menuItem-addons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  white-space: nowrap;
}

.menuItem-calories {
  display: grid;
  place-content: center;
  width: 150px;
}
.menuItem-calories > p {
  font-size: small;
  font-weight: 500;
}

.menuItem-image {
  display: grid;
  place-content: center;
  width: 100px;
}
.menuItem-img__pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 500px) {
  .menuItem-image {
    display: grid;
    place-content: center;
    width: 75px;
  }
  .menuItem-img__pic {
    width: 75px;
    height: 75px;
    object-fit: cover;
  }

  .menuItem-calories {
    display: grid;
    place-content: center;
    width: 100px;
    white-space: nowrap;
    padding: 0px 5px;
  }
}
