.orderItem-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border: 1px solid rgba(77, 77, 77, 0.5);
  border-radius: 5px;
}

.orderItem-quantity {
  width: 30px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.orderItem-description {
  flex: 1;
}
.orderItem-description > p {
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0px;
}
.orderItem-description__span {
  color: rgb(77, 77, 77);
  font-weight: 300;
  font-size: 14px;
}

.orderItem-delete {
  display: flex;
  align-items: center;
  justify-content: center;
}
