footer {
  padding: 20px 0px;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

footer > p {
  width: 75%;
  text-align: center;
}
