* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 5px 5px;
}
nav::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.loadingPara {
  display: grid;
  place-content: center;
  color: blue;
  height: 300px;
}
.failedPara {
  display: grid;
  place-content: center;
  color: red;
  height: 300px;
}

@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    white-space: nowrap;
  }
}
